#div1{
    border: 5px ridge blue;
    width: 100px;
}
#div1 p{
    color: blueviolet;
}
#div1 > p{
    color: brown;
}
#div1 ~ p{
    color: red;
}
#div1 + p{
    color: blue;
}

#div2{
    border: 5px ridge orange;
    width: 90px;
}
body{
    margin:0;
}